<h2>Modifier votre demande</h2>

{{ form_start(form) }}
    {{ form_row(form.motivation) }}
    {{ form_row(form.portfolio) }}
    {{ form_row(form.documents) }}
<button class="btn btn-primary">Mettre à jour</button>
{{ form_end(form) }}
